In [9]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('brandandproductemotions.csv', encoding='latin1')

In [3]:
df.head()

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [4]:
df.columns = ['tweet', 'brand', 'emotion']
df.head()

,tweet,brand,emotion
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [22]:
df.tweet = df.tweet.str.replace('@sxsw', '')
df.tweet = df.tweet.str.replace('#sxsw', '')

In [20]:
df.head()

,tweet,brand,emotion
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,I hope this year's festival isn't as crashy a...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [26]:
df['tweet']= df['tweet'].astype(str)

In [27]:
df['tweet'] = df['tweet'].apply(lambda x:x.lower())

In [28]:
df.head()

,tweet,brand,emotion
0,.@wesley83 i have a 3g iphone. after 3 hrs twe...,iPhone,Negative emotion
1,@jessedee know about @fludapp ? awesome ipad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin can not wait for #ipad 2 also. the...,iPad,Positive emotion
3,i hope this year's festival isn't as crashy a...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on fri #sxsw: marissa m...,Google,Positive emotion

In [29]:
apple = ['iphone',
         'ipad',
         'itunes',
         'apple']
android = ['google',
           'samsung',
           'android']

In [46]:
def check_substrings(column_value):
    
    # Check if any of the substrings appear individually
    found_list1 = any(substring in column_value for substring in apple)
    found_list2 = any(substring in column_value for substring in android)
    if found_list1 and found_list2:
        return "both"
    elif found_list1:
        return "apple"
    elif found_list2:
        return "android"
    else:
        return "unknown"

In [47]:
df['new_brand'] = df['tweet'].apply(check_substrings)

In [48]:
df.head()

,tweet,brand,emotion,new_brand
0,.@wesley83 i have a 3g iphone. after 3 hrs twe...,iPhone,Negative emotion,apple
1,@jessedee know about @fludapp ? awesome ipad/i...,iPad or iPhone App,Positive emotion,apple
2,@swonderlin can not wait for #ipad 2 also. the...,iPad,Positive emotion,apple
3,i hope this year's festival isn't as crashy a...,iPad or iPhone App,Negative emotion,apple
4,@sxtxstate great stuff on fri #sxsw: marissa m...,Google,Positive emotion,android

In [49]:
df['new_brand'].value_counts()

apple      5330
android    2778
unknown     723
both        262
Name: new_brand, dtype: int64

In [50]:
df_unknown = df.loc[df['new_brand'] == 'unknown']

In [51]:
df_unknown['tweet'].tail(20)

8802    the #ogilvy #sydney #sxsw #podcast ep3 is #up,...
8808    full #sxsw #touchingstories presentation:  {link}
8811    this  app by #mxm is made of awesome! --  {lin...
8817    #fsw  for those of you who wanted to know abou...
8830    hey, #sxsw peeps: go hang out w/ burners now! ...
8832                        free  playlist.. enjoy {link}
8842    don't know what bands to see at #sxsw?  the fe...
8843    wanna know where the fast cellular signal is a...
8844    wanna know where to get lunch during  without ...
8851    @mention wanna sign up for the beta: {link} #s...
8882    @mention welcome! enjoy #sxsw and ride anywher...
8887    wish you went to ? we got you covered! day 1 r...
8899    deciding when to release a product is an art, ...
8921    anyone down at #sxsw wanna bring me back a win...
8924    @mention worked with @mention to create open-s...
8932    z6: no news is good news {link} [codes valid: ...
8936    client news! @mention releases &quot;dope melo...
8970    this is my 5th year downloading the  music tor...
9024    by the way, we're looking for a spanish-speaki...
9026    true story! rt @mention i just rated amy's ice...
Name: tweet, dtype: object